<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchData()">
        Fetch data
      </button>
      |
      <button class="btn btn-primary" (click)="onFetchSingleData()">
        Fetch Single User Data (id:10)
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <ng-container *ngIf="allDataClicked; else elseTemplate">
        <p *ngIf="loadedData.length < 1 && !isFetching">No data available!</p>
        <ol class="list-group" *ngIf="loadedData.length >= 1 && !isFetching">
          <li class="list-group-item" *ngFor="let data of loadedData">
            <p>
              User ID: <span style="color: blue"> {{ data.userId }} </span>
              <br />
              ID: <span style="color: blue"> {{ data.id }} </span><br />
              Title: <span style="color: blue"> {{ data.title }} </span> <br />
              Completed: <span style="color: blue"> {{ data.completed }} </span>
            </p>
          </li>
        </ol>
        <p *ngIf="isFetching">Loading...</p>
      </ng-container>
      <ng-template #elseTemplate>
        <div>
          <p>
            User Id:
            <span style="color: blue">
              {{ singleData.userId }}
            </span>
          </p>
          <p>
            ID:
            <span style="color: blue">
              {{ singleData.id }}
            </span>
          </p>

          <p>
            Title:
            <span style="color: blue">
              {{ singleData.title }}
            </span>
          </p>

          <p>
            Completed:
            <span style="color: blue">
              {{ singleData.completed }}
            </span>
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
